
.like {
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
    border-radius: 3px;
    border: 1px solid;
    display: inline-flex;
    align-items: center;
    height: 18px;
    line-height: 18px;
    padding: 12px 8px;
    position: relative;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

/*
 * Counter button style
 */
.likes-counter {
    margin-right: 39px;
}

.likes-counter:after,
.likes-counter:hover:after {
    text-shadow: none;
}

.likes-counter:after {
    border-radius: 3px;
    border: 1px solid #d3d3d3;
    background-color: #eee;
    padding: 0 8px;
    color: #180101;
    content: attr(data-count);
    left: 100%;
    margin-left: 8px;
    margin-right: -13px;
    position: absolute;
    top: calc(50% - 9.6px);
    font-weight: bold;
}

.likes-counter:before {
    transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476, sizingMethod='auto expand');
    background-color: #eee;
    border: 1px solid #d3d3d3;
    border-right: 0;
    border-top: 0;
    content: '';
    position: absolute;
    right: -12px;
    top: calc(50% - 3px);
    height: 6px;
    width: 6px;
    z-index: 1;
    zoom: 1;
}

/*
 * Custom styles
 */
.like {
    background-color: #dbdbdb;
    border-color: #bbb;
    color: #666;
}

.like:hover,
.like.active {
    text-shadow: 0 1px 0 #b12f27;
    background-color: #f64136;
    border-color: #b12f27;
}

.like.active:hover {
    background-color: #bd3128;
}

.like:active {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2) inset;
}

.like span {
    color: #f64136;
}

.like:hover, .like:hover span,
.like.active, .like.active span {
    color: #eeeeee;
}

.like:active span {
    color: #b12f27;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.like.disabled {
    border: none;
    background-color: #efefef;
    color: #666666;
    text-shadow: none;
    box-shadow: none;
    opacity: 50%;

    &:hover,
    & span,
    &:active span {
        color: #b12f27;
    }
}
