#notifications:before {
    position: relative;
    content: '';
    top: 10px;
    right: 10px;
}

#notifications.has-notifications {
    color: #bf5329
}

#notificationsMenu {
    padding: 15px;
    width: max-content;
}
